<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UITextView_placeHolder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F528454F1EBE320E00D1CC3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F528456B1EBE320E00D1CC3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F52845761EBE320E00D1CC3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
